@import '~bulma/sass/utilities/initial-variables';

// Set your brand colors
$purple: #3f51b5;
$pink: #FA7C91;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$blue: #7289da;
$green: #43b581;
$dark-green: #11633e;
$background-color: #2A363F;
$black: #16171a;


// Update Bulma's global variables
$grey-dark: #282b30;
$grey-light: $beige-light;
$primary: $blue;
$info: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: #ffffff;
$control-border-width: 2px;
$navbar-item-color: $pink;
$modal-content-width: auto;

// Import only what you need from Bulma
@import '~bulma/bulma.sass';
@import '~bulma-steps/src/sass/index.sass';