@charset 'utf-8';

// Remote styles
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Dependency styles
@import 'bulma';
@import '~font-awesome/css/font-awesome.min.css';

// // Local styles
// @import 'main';
@import 'spinner';
// @import 'searchresults';
// @import 'tags';

.container {
    padding: 0 2rem;
}

.container.loading {
    opacity: 0.5;
}

.loading-icon {
    color: #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.or-div {
    position: relative;
    text-align: center;
    margin: 20px 0px;
}

.or-span {
    background: #ffffff;
    padding: 0px 10px;
}

.or-div:before {
    display: inline-block;
    border-top: 1px solid rgb(184, 196, 194);
    content: "";
    margin: 0px auto;
    position: absolute;
    height: 0px;
    top: 50%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    transform: translateY(-50%);
}
