@charset 'utf-8';

// Remote styles
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Dependency styles
@import 'bulma';
@import '~font-awesome/css/font-awesome.min.css';

// // Local styles
// @import 'main';
@import 'spinner';
// @import 'searchresults';
// @import 'tags';

.container {
    padding: 0 2rem;
}

.container.loading {
    opacity: 0.5;
}

.loading-icon {
    color: #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}