// General styling goes here
$purple: #3f51b5;
$pink: #FA7C91;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$blue: #7289da;
$green: #43b581;
$dark-green: #11633e;
$background-color: #2A363F;
$black: #16171a;
$navy:#00145a;
$red:#ce021d;

html {
	overflow-y: auto;
  }
  
  .navbar.is-transparent {
	background-color: transparent;
	background-image: none;
	a:hover {
	  text-decoration: underline;
	}
  }
  
  .lazy {
	opacity: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: opacity 0.5s ease;
	position: absolute;
	top:0;left:0;right:0;bottom:0;
  }
  .lazy.loaded {
	opacity: 1;
  }
  .lazy.preloaded {
	transition: none;
	opacity: 1;
  }
  
  .is-clickable {
	cursor: pointer;
  }
  
  #doit .hero {
	background: transparent;
	padding: 0 8em;
	height: calc(100vh - 52px);
	  opacity: 1;
	  animation-name: fadeInOpacity;
	  animation-iteration-count: 1;
	  animation-timing-function: ease-in;
	animation-duration: 0.4s;
  }
  @keyframes fadeInOpacity {
	  0% {
		  opacity: 0;
	  }
	  100% {
		  opacity: 1;
	  }
  }
  
  .flex-row {
	display: flex;
	flex-direction: row;
  }
  
  .through-click {
	pointer-events: none;
	> * {
	  pointer-events: all;
	}
  }
  
  .has-text-truncated {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	min-width: 0;
  }

// Flex Grid
$this-padding: 5px;
$this-tile-size-sm: 100%;
$this-tile-size-md: 33.3333%;
$this-tile-size-lg: 25%;

.flex-container {
	padding: 0;
  margin: - $this-padding;
  font-size: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.flex-item {
  position: relative;
  display: inline-block;
	height: 480px !important;
	max-width: $this-tile-size-sm !important;
  width: $this-tile-size-sm;
  padding-top: $this-tile-size-sm;
	font-size: 15px;
  color: white;
	text-align: center;
	margin-bottom: 30px;
  
  @media (min-width: 856px) {
		width: $this-tile-size-md;
		max-width: $this-tile-size-md !important;
    padding-top: $this-tile-size-md;
  }
  
  @media (min-width: 1100px) {
		width: $this-tile-size-lg;
		max-width: $this-tile-size-lg !important;
    padding-top: $this-tile-size-lg;
  }
  
  &-inner {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 10px;
    background: transparent;
    
    &-content {}
  }
}

.post {
	color: #2a363f;
	display: block;
	line-height: 1.5em;
}

.card-img-top {
	width: 100%;
	border-top-left-radius: calc(.25rem - 1px);
	border-top-right-radius: calc(.25rem - 1px);
}
	
.rounded {
	border-radius: 30px !important;
}

.tag {
	-webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
	color: #fff;
	font-weight: bold;
	background: #3498db;
	padding: 5px 10px;
	border-radius: 0.3em;
	margin: 5px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	line-height: 1.5;
	white-space: nowrap;
}

.is-centered {
	display: inline-block;
}

.is-pink-bc {
	background: $pink;
}

.card-img-top {
	width: 100%;
	border-top-left-radius: calc(.25rem - 1px);
	border-top-right-radius: calc(.25rem - 1px);
}

.circle {
	border-radius: 50%;
	width: 165px;
	height: 165px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: -35px auto 0;
	z-index: 1;
	
	img.post-icon {
    border: 2px solid white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
	}
}

.circle-img {
	border-radius: 50%;
	width: 165px;
	height: 165px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	margin-bottom: 20px;
	
	img.post-icon {
    border: 2px solid white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
	}
}

.tags-section {
	width: 150px !important;
	
}

.status {
	-webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
	//color: #fff;
	//font-weight: bold;
	background: #ffdd57;
	padding: 5px 10px;
	border-radius: 0.3em;
	margin: 5px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	line-height: 1.5;
	white-space: nowrap;
}

.has-image-centered {
	margin-left: auto;
	margin-right: auto;
  }