@import 'bulma';

.navbar-item-2 {
    color: #ffffff !important;
    background-color: transparent !important;
    font-weight: bold;
    // filter: brightness(85%);
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    max-height: 3.25rem;
}

.navbar-item-2:hover {
    background-color: transparent !important;
    filter: brightness(85%);
}