.port-card {
    transition: all 500ms ease-in-out;
    height: 300px;
    position: relative;
    margin: 20px;
}

.port-column {
    min-width: 280px;
    max-width: 300px;
    min-height: 320px;
    max-height: 350;
}

.port-card-image {
    filter: brightness(50%);
    height: 150px;
    overflow: hidden;
}

.port-card:hover {
    cursor: pointer;
    margin-top: 1.0rem;
    box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.2);
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);

    & > .port-card-image {
    cursor: pointer;
    filter: brightness(100%)
    }
}

.port-card-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.port-card-footer-item {
    font-weight: bold;
    margin: auto;
    color: #000000;
}

.has-extra-margin {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.port-cards-container {
    display: flex;
    justify-content: center;
    width: 90% !important;
    margin: 20px auto;
}

.ports-header {
    margin: 80px;
}