.private-registration-columns {
    margin-top : 0px !important;
}

.register-paragraph {
    margin-bottom: 20px;
}

.menu-container {
    position: relative;
    margin: 100px auto;
}

.register-menu {
}
