.card {
    border-radius: '5px';
    margin-bottom: '2.5em';
}

.card-image {
    filter: brightness(50%);
}

.card:hover {
    cursor: pointer;

    & > .card-image {
    cursor: pointer;
    filter: brightness(100%)
    }
}