.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2em;
    border-radius: 5px;
    height: 100%;
    transition: all 500ms ease-in-out;
}

.card-image {
    filter: brightness(50%);
}

.card:hover {
    cursor: pointer;
    margin-top: 1.5em;
    box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.2);
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);

    & > .card-image {
    cursor: pointer;
    filter: brightness(100%)
    }
}

.card-footer-item {
    font-weight: bold;
}